header{
    background-color: black;
}

.carousel-item-size {
    height:30vh;
}

.carousel-item-size img{
   height: 100%;
   object-fit: cover;
   filter: brightness(.9);
}

.carousel-item-size a{
    font-size:60px;
    text-shadow: 4px 4px 4px black;

}

footer{
    background-color: black;
    color: antiquewhite;
}